.header__line {
    background-color: #545454;
    opacity: .7;
    border: none;
    min-width: 320px;
    height: 1px;
    margin: 0 auto;
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;

}

@media screen and (min-width: 768px) {
    .header__line {
        min-width: 680px;
    }
}


@media screen and (min-width: 900px) {
    .header__line {
        min-width: 880px;
    }
}