.button__like {
    background: transparent center url('../../../image/like.svg');
    width: 22px;
    height: 19px;
    border: none;
    margin-left: auto;
}

.button__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.button__like:active {
    background-color: #000000;
}