.popup__close {
    width: 20px;
    height: 20px;
    border: none;
    background: center url("../../../image/Close_Icon.svg");
    background-size: auto;
    position: absolute;
    top: -28px;
    right: 0;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}